@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --blue: #5a819e;
  --beige: #ffe5c4;
  --orange: #ffc1aa;
  --purple: #7c7aa1;
  --pink: #f59c9c;
  --teal: #6ec3c0;
  --split: linear-gradient(var(--beige), var(--blue));
}

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  line-height: 2rem;
  background-color: var(--blue);
  color: var(--beige);
}

header {
  background-color: var(--beige);
  font-size: 2rem;
  margin: 0;
  padding-top: 2rem;
  color: var(--blue);
}
header a {
  color: var(--blue) !important;
  text-decoration: none;
}

header h1 {
  text-align: center;
}

footer {
  color: var(--blue);
  background-color: var(--beige);
  margin-top: 4rem;
  padding-bottom: 1rem;
  width: 100vw;
  text-align: center;
}

main {
  text-align: center;
  margin-top: 4rem;
}

#contact-form {
  text-align: left;
}

#example-message {
  resize: vertical;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* navigation list styling */
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  padding-right: 1rem;
  width: 100%;
  margin-top: 2rem;
}

li {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  max-width: 100%;
}

/* footer icon styling */
.contact-icons {
  margin: 1rem;
}

#contact-nav {
  padding-top: 2rem;
  text-align: center;
}

#contact-nav a {
  color: var(--purple);
}

/* styling for bolded elements */
.bold {
  font-weight: 900;
}

/* positioning portfolio images for text overlay */
.parent {
  position: relative;
  width: 100%;
}

/* text overlay on portfolio images */
.text {
  opacity: 0;
  position: absolute;
  bottom: 1rem;
  background: linear-gradient(
    to left,
    rgba(57, 57, 57, 0.1),
    rgba(57, 57, 57, 1)
  );
  width: 100%;
  padding: 0.5rem;
}

/* text overlay link styling */
.text a {
  opacity: 0;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  text-align: center;
  font-size: 1.05rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  width: 100%;
}

/* toggle opacity for link on hover */
.parent:hover .text,
.text a,
.parent:active .text,
.text a {
  transition: 1s ease-in-out;
  opacity: 100;
}

/* invert black icons on dark background */
.inverted-icons .inverted-icons:hover {
  filter: invert(1);
}

/* media query to handle hover state on mobile and tablet devices */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer */
/* https://gist.github.com/perjo927/e1f114398fc6fb8538a1412bea800f1a */
@media (pointer: coarse), (pointer: none) {
  .text,
  .text a {
    opacity: 100;
  }
}

.profile-pic {
  width: 33%;
  height: auto;
  border-radius: 50%;
  padding: 2rem;
}
