@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 1.15rem;
  height: 100%;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  line-height: 2rem;
}

ul {
  list-style: none;
}

.contact-icons {
  margin: 1rem;
}

#contact-nav {
  text-align: center;
}

.bold {
  font-weight: 900;
}
